## Name- Aashish Kumar Singh
## Roll.  - 20U567
## Div.   - Intel (5)
## Batch-T 19

In [1]:
pip install nltk

Requirement already satisfied: nltk in /Users/aashish/Documents/Education/anaconda3/lib/python3.9/site-packages (3.6.5)
Requirement already satisfied: click in /Users/aashish/Documents/Education/anaconda3/lib/python3.9/site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in /Users/aashish/Documents/Education/anaconda3/lib/python3.9/site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/aashish/Documents/Education/anaconda3/lib/python3.9/site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in /Users/aashish/Documents/Education/anaconda3/lib/python3.9/site-packages (from nltk) (4.62.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/aashish/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
word_data="It is originated from. the idea that there are readers who prefer learning new skills from the comforts of their drawing rooms"
nltk_tokens=nltk.word_tokenize(word_data)
print(nltk_tokens)

['It', 'is', 'originated', 'from', '.', 'the', 'idea', 'that', 'there', 'are', 'readers', 'who', 'prefer', 'learning', 'new', 'skills', 'from', 'the', 'comforts', 'of', 'their', 'drawing', 'rooms']

In [4]:
word_data.split()

['It',
 'is',
 'originated',
 'from.',
 'the',
 'idea',
 'that',
 'there',
 'are',
 'readers',
 'who',
 'prefer',
 'learning',
 'new',
 'skills',
 'from',
 'the',
 'comforts',
 'of',
 'their',
 'drawing',
 'rooms']

In [5]:
from nltk import pos_tag

In [6]:
from nltk import RegexpParser

In [7]:
text="learn datascience from SKNCOE and make study simple".split()

In [8]:
print("After Split: ",text)

After Split:  ['learn', 'datascience', 'from', 'SKNCOE', 'and', 'make', 'study', 'simple']

In [9]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/aashish/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [10]:
tokens_tag=pos_tag(text)

In [11]:
print("After Token: ",tokens_tag)

After Token:  [('learn', 'JJ'), ('datascience', 'NN'), ('from', 'IN'), ('SKNCOE', 'NNP'), ('and', 'CC'), ('make', 'VB'), ('study', 'NN'), ('simple', 'NN')]

In [12]:
from nltk.corpus import stopwords

In [13]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [14]:
from nltk.tokenize import word_tokenize

In [15]:
text="Nick play football, however he is not too fond of tennis."
text_tokens=word_tokenize(text)

In [16]:
tokens_without_sw=[word for word in text_tokens if not word in stopwords.words()]

In [17]:
print(tokens_without_sw)

['Nick', 'play', 'football', ',', 'however', 'fond', 'tennis', '.']

In [18]:
from nltk.stem import PorterStemmer

In [19]:
ps=PorterStemmer()

In [20]:
data="Programmers program with programming languages"
word=word_tokenize(data)

In [21]:
for w in word:
    print(w,":",ps.stem(w))

Programmers : programm
program : program
with : with
programming : program
languages : languag

In [22]:
from nltk.stem import WordNetLemmatizer

In [23]:
lem=WordNetLemmatizer()

In [24]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/aashish/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [25]:
print("rocks: ",lem.lemmatize("rocks"))
print("corpora: ",lem.lemmatize("corpora"))
print("better: ",lem.lemmatize("better",pos="a"))

rocks:  rock
corpora:  corpus
better:  good

In [26]:
import pandas as pd
import sklearn as sk
import math

In [27]:
s1="Data Science is the most trending job of 21st century"
s2="Machine Learning is the key for Data Science"
string_s1=s1.split(" ")

In [28]:
sen2=s2.split(" ")

In [29]:
total=set(string_s1).union(set(sen2))
print(total)

{'Science', 'Data', 'century', 'trending', 'key', 'for', 'Machine', 'job', 'the', 'most', 'Learning', 'is', 'of', '21st'}

In [33]:
wordDictA=dict.fromkeys(total,0)
wordDictB=dict.fromkeys(total,0)
for word in string_s1:
    wordDictA[word]+=1
for word in sen2:
    wordDictB[word]+=1

In [35]:
pd.DataFrame([wordDictA, wordDictB])

,Science,Data,century,trending,key,for,Machine,job,the,most,Learning,is,of,21st
0,1,1,1,1,0,0,0,1,1,1,0,1,1,1
1,1,1,0,0,1,1,1,0,1,0,1,1,0,0

In [55]:
def computeTF(wordDict,doc):
    tfDict={}
    corpusCount=len(doc)
    for word, count in wordDict.items():
        tfDict[word]=count/float(corpusCount)
    return(tfDict)
tfFirst=computeTF(wordDictA, string_s1)
tfSecond=computeTF(wordDictB,sen2)
tf=pd.DataFrame([tfFirst, tfSecond])
tf

,Science,Data,century,trending,key,for,Machine,job,the,most,Learning,is,of,21st
0,0.100,0.100,0.1,0.1,0.000,0.000,0.000,0.1,0.100,0.1,0.000,0.100,0.1,0.1
1,0.125,0.125,0.0,0.0,0.125,0.125,0.125,0.0,0.125,0.0,0.125,0.125,0.0,0.0

In [58]:
def computeIDF(docList):
    idfDict={}
    N=len(docList)
    
    idfDict=dict.fromkeys(docList[0].keys(),0)
    for word, val in idfDict.items():
        idfDict[word]=math.log10(N/(float(val)+1))
    return(idfDict)
idfs=computeIDF([wordDictA,wordDictB])
idfs

{'Science': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'century': 0.3010299956639812,
 'trending': 0.3010299956639812,
 'key': 0.3010299956639812,
 'for': 0.3010299956639812,
 'Machine': 0.3010299956639812,
 'job': 0.3010299956639812,
 'the': 0.3010299956639812,
 'most': 0.3010299956639812,
 'Learning': 0.3010299956639812,
 'is': 0.3010299956639812,
 'of': 0.3010299956639812,
 '21st': 0.3010299956639812}

In [61]:
def computeTFIDF(tfBow, idfs):
    tfidf={}
    for word, val in tfBow.items():
        tfidf[word]=val*idfs[word]
    return(tfidf)
idfFirst=computeTFIDF(tfFirst,idfs)
idfSecond=computeTFIDF(tfSecond, idfs)
idf=pd.DataFrame([idfFirst, idfSecond])
idf

,Science,Data,century,trending,key,for,Machine,job,the,most,Learning,is,of,21st
0,0.030103,0.030103,0.030103,0.030103,0.000000,0.000000,0.000000,0.030103,0.030103,0.030103,0.000000,0.030103,0.030103,0.030103
1,0.037629,0.037629,0.000000,0.000000,0.037629,0.037629,0.037629,0.000000,0.037629,0.000000,0.037629,0.037629,0.000000,0.000000